body{
    background-color: #70c573;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.title-bar {
    background-color: #abeaad;
    margin: 0;
    padding: 5px;
}
.pageTitle{
    padding: 10px;
}
.logo {
    height: 75px;
    width: auto;
    float: left;
    align-items: center;
    margin: auto;
    /* margin-left: 10px; */
    margin-right: 2rem;
    margin-top: 3rem;

}
.segment {
    margin: 10px;
}
.sText{
    text-indent: 20px;;
}
.fi-img {
    width: 100%;
    margin-top: 5rem;
}
.phimg {
    width: 250px;
}

.feet{
    background-color: #997649;
    margin:0;
    height: auto;
    padding: 20px;
    width: 100%;
}
.container{
    width: 100%;
}
#wrapper {
    width: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
}

.click {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #03a8e8;
    font-weight: bold;
    color: white;
    margin: 1rem;
    border: 0;

}
button:hover{
    background-color: #006188;
}
button:active{
    background-color: #70c573;
    color: black;
}
.bgc {
    color: #791e94;
}
.ibm {
    color: #1f70c1;
}
#fi,#wa{
    margin-top: 5rem;;
}
